@charset "utf-8";
/* CSS Document *
body{
  background-color:#D4D8FB;
  color:#423B3B;
}
h1{
  text-align: center;
	font-size: 600%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
h2{
 font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.three{
}
.contact{
	text-align: center;
	font-size: 200%;
	float:center;
}
.services{
	text-align: center;
	font-size: 200%;
	width:30%;
	float:left;
}
